---
layout: default
title: Landing Page
---

<section class="hero is-fullheight is-default is-bold">

    {{> navbar}}

    {{> navbar-clone}}

    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-5 is-offset-1 landing-caption">
                    <h1 class="title is-1 is-bold is-spaced">
                        How To Get [RESULT] Without [Problem/Objection]
                    </h1>
                    <h2 class="subtitle is-5 is-muted">
                        This is the universal headline formula to grab their attention. The
                        point of this section it’s NOT to try to explain the product as
                        much as possible but to create curiosity to keep scrolling</h2>
                    {{> primary-cta}}
                    <button class="button is-link is-outlined raised">Alternate CTA</button>
                </div>
                <div class="column is-5">
                    <figure class="image is-4by3">
                        <img src="/img/illustrations/worker.svg" alt="Description">
                    </figure>
                </div>

            </div>
        </div>
    </div>
    <!-- 
    <div class="hero-foot mb-20">
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li><a><img class="partner-logo" src="/img/logo/clients/systek.svg"></a></li>
                    <li><a><img class="partner-logo" src="/img/logo/clients/tribe.svg"></a></li>
                    <li><a><img class="partner-logo" src="/img/logo/clients/kromo.svg"></a></li>
                    <li><a><img class="partner-logo" src="/img/logo/clients/infinite.svg"></a></li>
                    <li><a><img class="partner-logo" src="/img/logo/clients/gutwork.svg"></a></li>
                </ul>
            </div>
        </div>
    </div> -->
</section>

<section class="section section-critique-grey is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-bold">Honestly Now, Is This The Way
                To [Fix Problem/Get Result]?
            </h2>
            <h3 class="subtitle is-5 is-muted is-centered">The only reason we are starting with the problem is to
                trigger an
                investment mindset BEFORE you even show your product. This
                will remind your visitors of how painful the problem is and why
                they want to fix it asap </h3>
            <div class="divider is-centered"></div>
        </div>
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-5 is-bold">Show them they can try your product instead
            </h2>
            <button class="button is-primary">Explain Your CTA</button>
        </div>

        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-5 is-offset-1">
                <img src="/img/illustrations/features/feature-2.png" alt="">
            </div>
            <div class="column is-4 is-offset-1">
                <h3 class="title is-3 mb-10 is-title-reveal">Critique Their Current Way of
                    Doing Things
                </h3>
                <p class="subtitle is-5 is-muted">They might be using a spreadsheet or doing
                    everything manually, show them why that’s
                    not the way to do it</p>
            </div>
        </div>
        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-4 is-offset-2">
                <h3 class="title is-3 mb-10 is-title-reveal">Critique The Other Solutions
                    On The Market</h3>
                <p class="subtitle is-5 is-muted">Your product is not the only solution they are
                    considering so make sure they understand
                    why your competitors are also not ideal.</p>
            </div>
            <div class="column is-5">
                <img src="/img/illustrations/features/feature-1.png" alt="">
            </div>
        </div>

    </div>
</section>

<section class="section has-background-primary-light is-medium">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-5">
                <figure class="image is-4by4">
                    <img src="/img/illustrations/worker.svg" alt="Description">
                </figure>
            </div>
            <div class="column is-5 is-offset-1 landing-caption">
                <h1 class="title is-2 is-bold is-spaced">
                    How Much Is This Costing
                    Them?
                </h1>
                <h2 class="subtitle is-5 is-muted">
                    What’s the cost of not fixing their problem or
                    getting the result they want?</h2>
                <h2 class="is-5 has-text-weight-bold">Quantify this as much as possible!</h2>
            </div>
        </div>
    </div>

</section>

<section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">This Is How Your Product Can
                Fix All Of The Problems</h2>
            <h3 class="subtitle is-5 is-muted">We don’t want to explain the entire product because that
                overwhelms people and raises unnecessary objections. Instead,
                show them how they can use your product to get the result they
                want (this is all they care about anyway).</h3>
            <div class="divider is-centered"></div>
            <h3 class="subtitle is-5 has-text-weight-bold">Only explain how they can get the result in 3-5 steps
                (or in a short period of time)</h3>
            <button class="button is-primary">Explain Your CTA</button>
        </div>

        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-4 is-offset-2">
                <p class="subtitle has-text-weight-bold has-text-danger-dark">Step 1</p>
                <h3 class="title is-3 mb-10 is-title-reveal">Explain How They Can Get
                    The Result (In Order)</h3>
                <p class="subtitle is-5 is-muted">How does this step work? Why is this way of
                    doing things better?</p>
                <div class="divider is-centered"></div>
                <p class="subtitle has-text-weight-bold">What if they have a question about this?</p>
                <p class=" is-5 is-muted">Make sure to answer it (if it’s an objection)
                    otherwise some people might not convert.</p>
            </div>
            <div class="column is-5">
                <img src="/img/illustrations/features/feature-1.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- <section class="section section-feature-grey is-medium">
    <div class="container">

        <div class="columns is-vcentered app-side">
            <div class="column is-5 is-offset-1">
                <h3 class="title is-3 is-spaced is-title-reveal">An intuitive app</h3>
                <p class="subtitle is-5 is-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum audissem
                    Antiochum, Brute, ut solebam, cum M. Quae diligentissime contra Aristonem dicuntur a Chryippo.</p>
            </div>
            <div class="column is-10">
                <div class="has-text-centered">
                    <img class="pushed-image" src="/img/illustrations/mockups/app-mockup.png">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Wait, there's more</h2>
            <h3 class="subtitle is-5 is-muted">To make you super happy</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns is-multiline icon-list">
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-github" size="large"></ion-icon>
                        </div>
                        <h4>Github</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-bitbucket" size="large"></ion-icon>
                        </div>
                        <h4>Bitbucket</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-slack" size="large"></ion-icon>
                        </div>
                        <h4>Slack</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-npm" size="large"></ion-icon>
                        </div>
                        <h4>Npm</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-javascript" size="large"></ion-icon>
                        </div>
                        <h4>Javascript</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-nodejs" size="large"></ion-icon>
                        </div>
                        <h4>Nodejs</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-angular" size="large"></ion-icon>
                        </div>
                        <h4>Angular</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-google" size="large"></ion-icon>
                        </div>
                        <h4>Google</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-python" size="large"></ion-icon>
                        </div>
                        <h4>Python</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-wordpress" size="large"></ion-icon>
                        </div>
                        <h4>WordPress</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-android" size="large"></ion-icon>
                        </div>
                        <h4>Android</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="feature-icon has-text-centered">
                        <div class="icon-wrap is-icon-reveal">
                            <ion-icon name="logo-apple" size="large"></ion-icon>
                        </div>
                        <h4>Apple</h4>
                        <p>Some feature text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="section is-medium">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">Get Started</h2>
            <h3 class="subtitle is-5 is-muted">Choose one of our plans</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="pricing-wrap">
            <div class="feature-card is-pricing has-text-centered">
                <h3 class="plan-name">Starter</h3>
                <img src="/img/illustrations/pricing/1.svg" alt="" />
                <div class="price">
                    0
                </div>
                <p>Sign up, get some awesome features and get started now</p>
                <a class="button is-fullwidth is-bold">Get Started</a>
            </div>
            <div class="feature-card is-pricing has-text-centered">
                <h3 class="plan-name">Pro</h3>
                <img src="/img/illustrations/pricing/2.svg" alt="" />
                <div class="price">
                    15
                </div>
                <p>Sign up, get some awesome features and get started now</p>
                <a class="button is-fullwidth primary-btn raised is-bold">Get Started</a>
            </div>
            <div class="feature-card is-pricing has-text-centered">
                <h3 class="plan-name">Business</h3>
                <img src="/img/illustrations/pricing/3.svg" alt="" />
                <div class="price">
                    30
                </div>
                <p>Sign up, get some awesome features and get started now</p>
                <a class="button is-fullwidth is-bold">Get Started</a>
            </div>
        </div>
    </div>
</section> -->

<!-- <section l
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2 is-spaced">Drop us a line or two </h2>
            <h3 class="subtitle is-5 is-muted">We'd love to hear from You</h3>
            <div class="divider is-centered"></div>
        </div>

        <div class="content-wrapper">
            <div class="columns">
                <div class="column is-6 is-offset-3">
                    <form>
                        <div class="columns is-multiline">
                            <div class="column is-6">
                                <input class="input is-medium" type="text" placeholder="First Name *">
                            </div>
                            <div class="column is-6">
                                <input class="input is-medium" type="text" placeholder="Last Name *">
                            </div>
                            <div class="column is-6">
                                <input class="input is-medium" type="text" placeholder="Email *">
                            </div>
                            <div class="column is-6">
                                <input class="input is-medium" type="email" placeholder="Company">
                            </div>
                            <div class="column is-12">
                                <textarea class="textarea" rows="6" placeholder=""></textarea>
                            </div>
                            <div class="column is-12">
                                <div class="form-footer has-text-right mt-10">
                                    <button class="button cta is-large primary-btn form-button raised is-clear">Send
                                        Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section> -->




<!-- <div id="auth-modal" class="modal">
    <div class="modal-background modal-dismiss"></div>
    <div class="modal-content">
        <div class="flex-card auth-card">
            <div class="tabs-wrapper">
                <div class="tabs">
                    <ul>
                        <li class="is-active" data-tab="login-tab"><a>Login</a></li>
                        <li data-tab="register-tab"><a>Register</a></li>
                    </ul>
                </div>
                <div id="login-tab" class="tab-content is-active">
                    <div class="field">
                        <label>Username</label>
                        <div class="control">
                            <input type="text" class="input is-medium" placeholder="Enter username">
                        </div>
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <div class="control">
                            <input type="password" class="input is-medium" placeholder="Enter password">
                        </div>
                    </div>

                    <a class="button is-fullwidth secondary-btn is-rounded raised">Log in</a>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large modal-dismiss" aria-label="close"></button> -->

<section class="section">
    <div class="container">
        <div class="title-wrapper has-text-centered">
            <h2 class="title is-2">This Is How Your Product Can
                Fix All Of The Problems</h2>
            <h3 class="subtitle is-5 is-muted">We don’t want to explain the entire product because that
                overwhelms people and raises unnecessary objections. Instead,
                show them how they can use your product to get the result they
                want (this is all they care about anyway).</h3>
            <div class="divider is-centered"></div>
            <h3 class="subtitle is-5 has-text-weight-bold">Only explain how they can get the result in 3-5 steps
                (or in a short period of time)</h3>
            <button class="button is-primary">Explain Your CTA</button>
        </div>

        <div class="columns is-vcentered side-feature mt-60">
            <div class="column is-4 is-offset-2">
                <p class="subtitle has-text-weight-bold has-text-danger-dark">Step 1</p>
                <h3 class="title is-3 mb-10 is-title-reveal">Explain How They Can Get
                    The Result (In Order)</h3>
                <p class="subtitle is-5 is-muted">How does this step work? Why is this way of
                    doing things better?</p>
                <div class="divider is-centered"></div>
                <p class="subtitle has-text-weight-bold">What if they have a question about this?</p>
                <p class=" is-5 is-muted">Make sure to answer it (if it’s an objection)
                    otherwise some people might not convert.</p>
            </div>
            <div class="column is-5">
                <img src="/img/illustrations/features/feature-1.png" alt="">
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="box has-background-primary-light mt-60">
            <div class="columns is-vcentered">
                <div class="column is-offset-2">
                    <p class="subtitle has-text-weight-bold has-text-danger-dark">Let’s Get in Touch</p>
                    <h3 class="title is-3 mb-10 is-title-reveal">Provide An Alternative CTA For The Skepticals…</h3>
                </div>
                <div class="column is-one-quarter">
                    <button class="button is-link is-outlined raised">Alternate CTA</button>
                </div>
            </div>
        </div>
    </div>
</section>