---
layout: default
title: Landing Page
---

<section class="hero is-fullheight is-default is-bold">

    {{> navbar}}

    {{> navbar-clone}}
    <iframe id="typeform-full" width="100%" height="100%" frameborder="0"
    allow="camera; microphone; autoplay; encrypted-media;"
    src="https://form.typeform.com/to/PPAfxNov?typeform-medium=embed-snippet"></iframe>
<script type="text/javascript" src="https://embed.typeform.com/embed.js"></script>
</div>