<footer class="footer footer-dark">
    <div class="columns">
        <div class="column">
            <div class="content has-text-centered level-left">
                <p>
                    Design & Develop by <a href="https://psmorfia.com">Psmorfia</a>.
                </p>
            </div>
        </div>
    </div>
    <!-- <div class="container">
       
        <div class="columns">
            <div class="column">
                <div class="footer-logo">
                    <img src="/img/logo/fresh-white-alt.svg">
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Product</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Discover features</a></li>
                        <li><a href="#">Why choose our Product ?</a></li>
                        <li><a href="#">Compare features</a></li>
                        <li><a href="#">Our Roadmap</a></li>
                        <li><a href="#">Request features</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Docs</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Get Started</a></li>
                        <li><a href="#">User guides</a></li>
                        <li><a href="#">Admin guide</a></li>
                        <li><a href="#">Developers</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Blogroll</h3>
                    </div>
                    <ul class="link-list">
                        <li><a href="#">Latest News</a></li>
                        <li><a href="#">Tech articles</a></li>
                        <li><a href="#">Video Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-column">
                    <div class="footer-header">
                        <h3>Follow Us</h3>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item" href="https://github.com/#">
                                    <span class="icon">
                                        <ion-icon name="logo-github" size="large"></ion-icon>
                                    </span>
                                </a>
                                <a class="level-item" href="https://facebook.com/#">
                                    <span class="icon">
                                        <ion-icon name="logo-facebook" size="large"></ion-icon>
                                    </span>
                                </a>
                                <a class="level-item" href="https://google.com/#">
                                    <span class="icon">
                                        <ion-icon name="logo-google" size="large"></ion-icon>
                                    </span>
                                </a>
                                <a class="level-item" href="https://linkedin.com/#">
                                    <span class="icon">
                                        <ion-icon name="logo-linkedin" size="large"></ion-icon>
                                    </span>
                                </a>
                            </div>
                        </nav>

                        <a href="https://bulma.io" target="_blank">
                            <img src="/img/logo/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</footer>