<div class="navbar-end">
    <a href="#" class="navbar-item is-secondary">
        Link
    </a>
    <a href="#" class="navbar-item is-secondary">
        Link
    </a>
    <span class="navbar-item">
        {{> primary-cta}}
    </span>
</div>